* {
    margin: 0;
    padding: 0;
}

.grupo {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    background-color: rgb(218, 79, 171);
    color: rgb(126, 182, 235);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: rgb(226, 226, 226);
    text-decoration: nome;
    margin-left: 15px;
}

.menu a:hover {
    color: rgb(128, 126, 126);
}

.conteudo {
    display: flex;
    height: 200px;
}

.navegacao {
    background-color: rgb(105, 90, 167);
    color: rgba(21, 31, 168, 0.699);
    display:inline-block;
    width: 30%;
    padding: 10px; 
}

.navegacao ul {
    list-style: nome;
    padding: 0;
}

.navegacao li {
    margin-bottom: 10px;
}

.secao {
    background-color: rgb(63, 138, 199);
    color: rgb(0, 255, 255);
    display: inline-block;
    width: 70%;
}

.rodape {
    background-color: rgb(19, 156, 190);
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}

.redes {
    display: flex;
    align-items: center;
}

.redes img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.redes a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none   ;
}

.redes a:hover {
    color: black;
    opacity: 0.7;
}
