* {
    margin: 0;
    padding: 0;
}

.grupo {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    background-color:aliceblue;
    padding:aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color:aquamarine;
    text-decoration: nome;
    margin-left: 15px;
}

.menu a:hover {
    color:blue;
}

.conteudo {
    display: flex;
    height: 200px;
}

.navegacao {
    background-color:blueviolet;
    color:cornflowerblue;
    display:inline-block;
    width: 30%;
    padding: 10px; 
}

.navegacao ul {
    list-style: nome;
    padding: 0;
}

.navegacao li {
    margin-bottom: 10px;
}

.secao {
    background-color:cyan;
    color:darkblue;
    display: inline-block;
    width: 70%;
}

.rodape {
    background-color:darkslateblue;
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:deepskyblue;

.redes {
    display: flex;
    align-items: center;
}

.redes img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.redes a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none   ;
}

.redes a:hover {
    color:lightsteelblue;
    opacity: 0.7;
}
